
@{
    ViewBag.Title = "inbox";
}

<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="JQuery.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<style type="text/css">
    h2 {
        font-size: 250%;
        font-family: 'Times New Roman'sans-serif;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-11">
        <h2>Inbox</h2>




        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>FROM</th>
                    <th>SUBJECT</th>
                    <th>MESSAGE</th>
                    <th>DATE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>ady@gmail</td>
                    <td>Sender:Hi</td>
                    <td>Hello</td>
                    <td>09.07.10</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>vgy@gmail</td>
                    <td>Sender:ki</td>
                    <td>kiksksdjsdhgfd</td>
                    <td>09.08.15</td>
                </tr>

            </tbody>
        </table>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>