
@{
    ViewBag.Title = "parentlogin";
}


<head>
    <title></title>
    <link rel="stylesheet" href="content/bootstrap.css" />

    <style type="text/css">
        td {
            color: white;
        }

        body {
            background: url("/kk3.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .col-sm-5 {
            /*border-radius: 25px;*/
            -moz-border-radius: 35px;
            box-shadow: 10px 10px 5px rgba(136, 168, 203, 0.28);
            -moz-box-shadow: 10px 10px 5px rgba(136, 168, 203, 0.28);
            filter: alpha(opacity=60);
            margin-top: 75px;
        }

        .row {
            height: 800px;
        }


        a:hover {
            color: red;
        }
    </style>
</head>

<body>
    <section>
        <div class="row">

            <div class="col-sm-5" style="height: 400px; background-image:url(/kk4.jpg); background-size:100%100%;">
                <form method="post">
                    <table style="width: 100%;" cellpadding="12">
                        <tr>
                            <td colspan="2">
                                <h1> LOGIN HERE</h1>

                            </td>
                        </tr>
                        <tr>
                            <td><b>USER ID: </b></td>

                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color:#91caf5;"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="text" name="userid" class="form-control" placeholder="Enter userid" style="width:235px;" required="required">

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><b>PASSWORD: </b></td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color:#91caf5;"><span class="glyphicon glyphicon-lock"></span></span>
                                    <input type="password" class="form-control" name="pwd" placeholder="Enter password" style="width:235px;" required="required" id="url">

                                </div>
                            </td>

                        </tr>

                     


                        <tr>
                            <td><input type="submit" value="LOGIN" class="btn btn-primary"></td>
                            <td><input type="reset" value="RESET" class="btn btn-primary"></td>
                        </tr>
                    </table>
                    <br />

                    @Html.ActionLink("Register", "register", "ano") |
                    @Html.ActionLink("Forgot Password", "forgotpassword", "ano")
                    <h4>@ViewBag.msg</h4>

                </form>

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-3">


            </div>
        </div>

    </section>
</body>



